body{
    margin: 0px;
    padding: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

tbody{
    font-size: 20px;
}

caption{
    margin-bottom: 14px;
    font-size: 30px;
}

th{
    background-color: #374d7c;
    color: #fff;
}

table{
    border-radius: 5px;
    margin: 0px auto;

}

td{
    background-color: yellow;
}

 th {
    padding:  20px;
}

td{
    padding: 10px;
}

tfoot td {
    background-color: #46edc8;
    text-align: center;
}